{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}
<div class="ui two column stackable grid">
	<div class="column">
		<h1 class="ui header">
			<i class="home icon"></i>
			<div class="content">
				Detalle de Producto
			</div>
		</h1>
	</div>
	<div class="column">
		<a class="ui right floated red button" >eliminar</a>
		<a class="ui right floated button" href="{{ path('producto_edit', {'id': producto.id}) }}">editar</a>
	</div>
</div>

    <table class="ui table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ producto.stock }}</td>
            </tr>
        </tbody>
    </table>

    <a class="ui primary button" href="{{ path('producto_index') }}">Volver</a>
    <a class="ui button" href="{{ path('producto_edit', {'id': producto.id}) }}">editar</a>
{#
    {{ include('producto/_delete_form.html.twig') }}
#}
{% endblock %}
