{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="ui primary button">{{ button_label|default('Guardar') }}</button>
    <a class="ui button" href="{{ path('categoria_index') }}">Cancelar</a>
{{ form_end(form) }}
