{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <h1>Categorias</h1>
    <a class="ui primary button" href="{{ path('categoria_new') }}">Agregar</a>

    <table class="ui table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.id }}</td>
                <td>{{ categorium.nombre }}</td>
                <td>
                    <a href="{{ path('categoria_show', {'id': categorium.id}) }}">ver</a>
                    <a href="{{ path('categoria_edit', {'id': categorium.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no hay datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
