{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
<div class="ui two column stackable grid">
	<div class="column">
		<h1 class="ui header">
			<i class="home icon"></i>
			<div class="content">
				Detalle de Categoria
			</div>
		</h1>
	</div>
	<div class="column">
		<a class="ui right floated red button" >eliminar</a>
		<a class="ui right floated button" href="{{ path('categoria_edit', {'id': categorium.id}) }}">editar</a>
	</div>
</div>

    <table class="ui table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ categorium.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a class="ui primary button" href="{{ path('categoria_index') }}">Volver</a>
{#
    {{ include('categoria/_delete_form.html.twig') }}
#}
{% endblock %}
